<%- include('layouts/header.ejs'); -%>
    <div class="wrapper">
        <% if (locals.user) { %>
        <div class="chat-area">
            <div class="header">
                <a href="../" class="back"><i class="fas fa-arrow-left"></i></a>
                
                    <div class="info">
                        <div class="img-group">
                            <img src="<%= user.image %>" alt="">
                            <i class="fas fa-circle"></i>
                        </div>
                        <div class="details">
                            <div class="name">
                                <%= user.name %>
                            </div>
                            <div class="status">Online</div>
                        </div>
                    </div>
                    
            </div>
            <div class="chat-box" id="chat-box">
                <div class="chat guest">
                    <div class="avatar">
                        <img src="<%= user.image %>" alt="">
                    </div>
                    <div class="details">
                        Lorem is Lorem ipsum d
                    </div>
                </div>
                <div class="chat host">
                    <div class="details">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam harum blanditiis accusantium?
                        Voluptatem non nostrum, vitae sequi tenetur natus recusandae quae, cumque ipsa illum quaerat
                        amet aliquam numquam. Quisquam, quaerat.
                    </div>
                </div>
            </div>
            <form id="chat-form" action="/chat" class="typing-area" method="post">
                <input type="text" class="guest_id" name="guest_id" value="" hidden="">
                <input id="message" type="text" name="message" class="input-field" placeholder="Aa..."
                    autocomplete="off">
                <button type="submit" id="send-chat"><i class="fab fa-telegram-plane"></i></button>
            </form>
        </div>
        <% } %>
    </div>
    <%- include('layouts/footer.ejs'); -%>