<%- include('layouts/header.ejs'); -%>
    <script src="./js/index.js"></script>
    <div class="wrapper">
        <section class="users">
            <header>
                <div class="content">
                    <div class="img-group">
                        <i class="fas fa-circle"></i>
                        <img src="<%=locals.data.image %>" alt="">
                    </div>
                    <div class="details">
                        <span><%=locals.data.name %></span>
                        <p>
                            Đang hoạt động
                        </p>
                    </div>
                </div>
                <a href="./logout" class="logout">Logout</a>
            </header>
            <form id="search-user" action='/search' method='post' class="search">
                <span id="search_txt" class="text">Chọn một User để chat</span>
                <input name="search_user" type="text" id="input-search" placeholder="Nhâp tên để tìm...">
                <button type="submit" id="btn-search"><i class="fas fa-search"></i></button>
            </form>
            <!-- Render in db -->

            <div class="users-list">
                <% if(locals.data1){%>
                    <% locals.data1.forEach(function(user){ %>
                        <a href="./chat">
                            <div class="content">
                                <div class="img-group">
                                    <i class="fas fa-circle"></i>
                                    <img src="<%=user.image %>" alt="">
                                </div>
                                <div class="details">
                                    <span><%=user.name %></span>
                                    <p>
                                    <%=user.name %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                <% } %>
            </div>
        </section>
    </div>

    <%- include('layouts/footer.ejs'); -%>