<%- include('layouts/header.ejs'); -%>
    <script src="./js/index.js"></script>
    <div class="wrapper">
        <div class="form">
            <div class="header">
                <% if(locals.host){%>
                    <div class="info">
                        <div class="img-group">
                            <img src="<%= host.image %>" alt="">
                            <i class="fas fa-circle"></i>
                        </div>
                        <div class="details">
                            <div class="name">
                                <%= host.name %>
                            </div>
                            <div class="status">Online</div>
                        </div>
                    </div>
                    <% } %>

                        <a href="./logout">Logout</a>
            </div>
            <form class="form-search" id="search-user">
                <input type="text" placeholder="Nhập tên để tìm..." id="input-search" name="search_user">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="user-list">
                <% if(locals.users && locals.host){%>
                    <% locals.users.forEach(function(user){ %>
                        <% if(users.email == host.email){%>
                            <h1> 
                                continue
                            </h1>
                            <% } %>
                                <a href="./chat/<%= user.slug %>">
                                    <div class="info">
                                        <div class="img-group">
                                            <i class="fas fa-circle"></i>
                                            <img src="<%= user.image %>" alt="">
                                        </div>
                                        <div class="details">
                                            <div class="name">
                                                <%=user.name %>
                                            </div>
                                            <div class="status">Online</div>
                                        </div>
                                    </div>
                                </a>
                                <% }); %>
                                    <% } %>
            </div>
        </div>
    </div>

    <%- include('layouts/footer.ejs'); -%>